/*mixin general*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto:wght@100&display=swap");
.vibreur:hover {
  -webkit-animation: shake 60ms ease-in-out;
  animation: shake 60ms ease-in-out;
  -webkit-animation-iteration-count: 20;
  animation-iteration-count: 20;
}

@keyframes shake {
  0% {
    transform: translateX(5%);
    transform: rotate(5deg);
  }
  100% {
    transform: translateX(-5%);
    transform: rotate(-5deg);
  }
}
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.8) translateY(8px);
  }
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../police/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Heart-Warning";
  src: url("../police/Heart-Warming.otf");
}
@font-face {
  font-family: "DancingScript";
  src: url(../police/DancingScript.ttf);
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url(../police/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "SweetyStrawberry";
  src: url(../police/SweetyStrawberry.ttf);
}
@font-face {
  font-family: "Vinegar-Regular";
  src: url(../police/Vinegar-Regular.otf);
}
@font-face {
  font-family: "Archivo";
  src: url(../police/Archivo-SemiBold.ttf);
}
@font-face {
  font-family: "Archivoregular";
  src: url(../police/Archivo-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

.carte {
  box-sizing: border-box;
  padding: 3rem 3rem 5rem 3rem;
  max-width: 600px;
  box-shadow: 6px 6px 6px 6px #f5f3f3;
  margin: 3rem auto 6rem auto;
}
.carte__titre {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
  font-size: 40px;
}
.carte__titre--titre-note {
  color: #3d1319;
  font-family: "Devonshire-Regular";
}
.carte__titre--titre-chic {
  font-family: "Croissant+One";
  background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}
.carte__titre--titre-delice {
  font-family: "kamal";
  background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}
.carte__titre--titre-palette {
  font-family: "KaushanScript-Regular";
  background: linear-gradient(135deg, #3e923a 0%, #beff7f 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}
.carte__sous-titre {
  font-size: 15px;
  text-align: center;
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carte__sous-titre--palette {
  font-weight: 300;
}
.carte__sous-titre--delice {
  font-weight: 300;
}
.carte__element {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding-top: 1rem;
}
.carte__element--prix {
  font-weight: bold;
}
.carte--menu1 {
  color: #3d1319;
  font-family: "kalam";
  background-color: #fcdfdb;
  font-weight: 300;
}
.carte--menu2 {
  font-family: "Croissant+One";
  background-color: #fff5fe;
}
.carte--menu3 {
  background-color: #eeefef;
  font-family: "Kalam";
  font-weight: 300;
}
.carte--menu4 {
  background-color: #fdfffd;
  font-family: "Kalam";
  font-weight: 300;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  color: #3d1319;
  font-family: "Devonshire-Regular";
  text-align: center;
  padding-top: 3rem;
}

.carte h1 i {
  background: linear-gradient(135deg, #f15d61 0%, #f6916a 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
  font-size: 4rem;
}

.titre-bis {
  margin: 1rem auto 1rem auto;
  font-size: 35px;
}
.titre-bis i {
  background: linear-gradient(135deg, #f15d61 0%, #f6916a 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
  font-size: 30px;
  padding-right: 0.5rem;
}

.couleur-1 {
  color: #c77412;
}

.couleur-2 {
  color: #a56899;
}

.couleur-3 {
  color: #6e4ccc;
}

section a {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}
section a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}

.traits {
  padding-top: 1.5rem;
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}
.traits:hover {
  background-size: 100% 100%;
}
.traits--chic1 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #c77412 0%, #c77412 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}
.traits--chic1:hover {
  background-size: 100% 100%;
}
.traits--chic2 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #a56899 0%, #a56899 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}
.traits--chic2:hover {
  background-size: 100% 100%;
}
.traits--chic3 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}
.traits--chic3:hover {
  background-size: 100% 100%;
}

img {
  width: 30%;
}

@media screen and (max-width: 741px) {
  .carte {
    margin: 0;
  }

  img {
    width: 15%;
    height: 18px;
  }

  .traits {
    padding-top: 0rem;
  }
}
main {
  margin-bottom: 6rem;
}

.livre-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 4rem;
  width: 600px;
  margin: auto;
}
.livre-menu__couverture {
  display: flex;
  justify-content: center;
  width: 48%;
  margin-top: 2rem;
  box-shadow: 6px 6px 6px 6px #f5f3f3;
  text-align: center;
  min-height: 400px;
}
.livre-menu__couverture-titre {
  display: inline-block;
}
.livre-menu__couverture-element {
  text-align: center;
  font-size: 30px;
  padding: 2rem 2rem;
}
.livre-menu__couverture--menu1 {
  background-color: #fcdfdb;
}
.livre-menu__couverture--menu1 .livre-menu__couverture-titre {
  color: #3d1319;
  font-family: "Devonshire-Regular";
}
.livre-menu__couverture--menu1 .livre-menu__couverture-element {
  text-transform: uppercase;
  color: #3d1319;
  font-family: "kalam";
}
.livre-menu__couverture--menu2 {
  background-color: #fff5fe;
}
.livre-menu__couverture--menu2 .livre-menu__couverture-titre {
  font-family: "Croissant+One";
  background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}
.livre-menu__couverture--menu2 .livre-menu__couverture-element {
  font-family: "Vinegar-Regular";
  color: #c8741d;
}
.livre-menu__couverture--menu3 {
  background-color: #eeefef;
}
.livre-menu__couverture--menu3 .livre-menu__couverture-titre {
  font-family: "kamal";
  background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}
.livre-menu__couverture--menu3 .livre-menu__couverture-element {
  font-family: "Kalam";
  color: #0087f8;
}
.livre-menu__couverture--menu4 {
  background-color: #fdfffd;
}
.livre-menu__couverture--menu4 .livre-menu__couverture-titre {
  font-family: "KaushanScript-Regular";
  background: linear-gradient(135deg, #3e923a 0%, #beff7f 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}
.livre-menu__couverture--menu4 .livre-menu__couverture-element {
  font-family: "Kalam";
  color: #72bf56;
}

.livre-menu i {
  font-size: 5rem;
  background: linear-gradient(135deg, #f15d61 0%, #f6916a 71%);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 741px) {
  .livre-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .livre-menu__couverture {
    width: 66%;
    margin: 2rem auto 2rem auto;
  }
}
.prochainement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prochainement__btn {
  padding: 0.75rem;
  background-color: #569c88;
  border-radius: 10px;
  color: #fecb51;
  font-size: 22px;
  font-size: 1.3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Archivoregular";
}
.prochainement__btn span {
  width: 6px;
  height: 6px;
  margin: 0 2px 4px 8px;
  border-radius: 50%;
  background-color: #fdcb46;
  display: inline-block;
  -webkit-animation-name: dots;
  animation-name: dots;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.prochainement__btn span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.prochainement__btn span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

header {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Archivo";
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 40px;
  font-weight: bolder;
}

header p {
  color: #fdcb46;
}

header a {
  color: #fdcb46;
}

.fixe {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.fixe__couleur {
  background-color: #579c87;
  color: #fdcb46;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 20px;
  font-family: "Archivoregular";
}

footer a {
  color: #fdcb46;
}

.mentions {
  padding: 3rem 3rem 6rem 3rem;
  font-family: "arial";
  text-align: justify;
}
.mentions__titre {
  text-align: center;
  font-size: 30px;
  padding-bottom: 2rem;
}
.mentions__titre--sous-titre {
  font-family: "Kalam";
  font-size: 18px;
  padding-bottom: 1rem;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
