.carte
{
    padding: 3rem 3rem 5rem 3rem;
    box-shadow: 6px 6px 6px 6px $couleur-box-shadow;
    width: 600px;
    margin: 3rem auto 6rem auto;


    



        &__titre
        {
            text-align: center;
            padding-bottom: 2rem;
            padding-top: 4rem;
            font-size: 40px;
        

            &--titre-note
            {
                color:$couleur-texte-note;
                font-family: $police-note;
            }
            &--titre-chic
            {
                font-family: $police-chic;
                background: linear-gradient(135deg, $chic-gauche 0%, $chic-droite 71%);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }

            &--titre-delice
            {
                font-family: $police-delice;
                background: linear-gradient(135deg, $delice-gauche 0%, $delice-droite 71%);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;

            }

            &--titre-palette
            {
                font-family: $police-palette ;
                background: linear-gradient(135deg, $palette-gauche 0%, $palette-droite 71%);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }

        }
    &__sous-titre
    {
        font-size: 15px;
        text-align: center;
        padding: 2rem 0 1rem 0;
        display: flex;
        justify-content: space-between;

            &--palette
            {
                font-weight: 300;
            }
            &--delice
            {
                font-weight: 300;
            }
    }

    &__element
    {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        padding-top: 1rem;
        
        &--prix
        {
            font-weight:  bold;
        }
    }

    &.--menu1
    {
        color: $couleur-texte-note;
        font-family: $police-note-corps;
        background-color: $couleur-note;
        font-weight: 300;

    }

    &.--menu2
    {
        font-family: $police-chic;
        background-color: $couleur-chic;
    }

    &.--menu3
    {
        background-color: $couleur-delice;
        font-family: $police-delice-corps;
        font-weight: 300;
    }

    &.--menu4
    {
        background-color: $couleur-palette;
        font-family: $police-palette-corps;
        font-weight: 300;
    }

}


h3
{
    font-size: 22px;
    font-weight: bold;
    color:$couleur-texte-note;
    font-family: $police-note;
    text-align: center;
    padding-top: 3rem;
    
}

.carte h1 i
{
    background: linear-gradient(135deg, $gauchecouleur 0%, $droitecouleur 71%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
}

.titre-bis
{
    margin: 1rem auto 1rem auto;
    font-size: 35px;

    i
    {
        background: linear-gradient(135deg, $gauchecouleur 0%, $droitecouleur 71%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text; 
        font-size: 30px;
        padding-right: 0.5rem;
    }
}

.couleur-1
{
    color: $menu-chic-couleurtexte;
}

.couleur-2
{
    color: $menu-chic-couleurtexte2;
}

.couleur-3
{
    color: $menu-chic-couleurtexte3;
}

section a
{
    @include trans-zoom
}

.traits
{
    padding-top: 1.5rem;
    
    &--chic1
    {
    @include Under ($menu-chic-couleurtexte);
    }
    &--chic2
    {
        @include Under ($menu-chic-couleurtexte2);
    }
    &--chic3
    {
        @include Under ($menu-chic-couleurtexte3);
    }
    
}

img
{
    width: 30%;
}