@font-face {
    font-family: 'Devonshire-Regular';
    src: url('../police/Devonshire-Regular.ttf');
}

@font-face {
    font-family: 'Heart-Warning';
    src: url('../police/Heart-Warming.otf');
}


@font-face {
    font-family: 'DancingScript';
    src: url(../police/DancingScript.ttf);
}


@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(../police/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'SweetyStrawberry';
    src: url(../police/SweetyStrawberry.ttf)
}
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");

@font-face {
    font-family: 'Vinegar-Regular';
    src: url(../police/Vinegar-Regular.otf)
}

@font-face {
    font-family: 'Archivo';
    src: url(../police/Archivo-SemiBold.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'Archivoregular';
    src: url(../police/Archivo-Regular.ttf)
    
}
*{
    margin: 0;
   padding: 0;
   border: 0;
   text-decoration: none; 
}