@media screen and (max-width: 741px)
{


.livre-menu
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.livre-menu__couverture 
{
    width: 66%;
    margin: 2rem auto 2rem auto;
    
}

.carte 
{
    width: 250px;
}

img
{
    width: 15%;
    height: 18px;
}

.traits
{
    padding-top: 0rem;
}

span
{
    padding-left: 0.4rem;
}


}