//------------------------VARIABLES
$couleur-primaire: #579c87;
$texte-couleur: #fdcb46;
$couleur-box-shadow: #f5f3f3;
$couleur-noir: black;
$police-header: 'Archivo';
$police-footer-pro:'Archivoregular';
//-----------------------menu note
$couleur-note:#fcdfdb;
$couleur-texte-note: #3d1319;
$gauchecouleur: #f15d61;
$droitecouleur: #f6916a;
$police-note:'Devonshire-Regular';
$police-note-corps:'kalam';
//-----------------------chic
$couleur-chic:#fff5fe;
$chic-gauche: #e38a12;
$chic-droite: #9056ff;
$menu-chic-couleurtexte: #c77412;
$menu-chic-couleurtexte2: #a56899;
$menu-chic-couleurtexte3: #6e4ccc;
$police-chic:'Croissant+One';
$police-chic-corps:'Vinegar-Regular';
//-----------------------delice
$couleur-delice: #eeefef;
$delice-gauche: #0229dd;
$delice-droite: #0e8cfb;
$menu-delice-couleurtexte: #0887fb;
$police-delice:'kamal';
$police-delice-corps:'Kalam';
//-----------------------palette
$couleur-palette:#fdfffd;
$palette-gauche: #3e923a;
$palette-droite: #beff7f;
$menu-palette-couleurtexte: #72bf56;
$police-palette:'KaushanScript-Regular';
$police-palette-corps: 'Kalam';

//-----------------------mentions-legales
$police-mentions-titre: 'arial';
$police-mentions-sous-titre:'Kalam';



